<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rootdown.dev.paging_v3_1">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
    <application
        android:name = ".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_rootdown_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDxRj1l3HFluAjpxwT7V6fTu_v6GXYGb3c" />
        <activity android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.java.MapActivity">

        </activity>
        <activity android:name=".ui.geomapper.GeomapperActivity"
            android:exported="true">

        </activity>
        <activity android:name=".ui.drag_and_drop.ReorderActivity"
            android:exported="true">

        </activity>
        <activity android:name=".ui.custom_content.CustomContentActivity"
            android:exported="true">

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rootdown.dev.paging_v3_1.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>